################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReceteX/ReceteX.Web/appsettings.json
