<div>
	<div class="card">
		<div class="card-header  text-white bg-success bg-gradient">
			<span class="fs-4">Kullanıcı Listesi</span>
		
				<a href="#" id="btnEkle" class="btn btn-warning ms-2">Kullanıcı Ekle</a>
		
		</div>
		<div class="card-body">
			<table id="tblUsers" class="table table-bordered table-striped" style="width:100%">
				<thead>
				</thead>
			</table>
		</div>
	</div>
</div>
