<div>
	<div class="card">
		<div class="card-header  text-white bg-success bg-gradient">
			<span class="fs-4">İlaç Listesi</span>
		
				<a asp-action="UpdateMedicineList" asp-controller="Medicine" class="btn btn-warning ms-2">Listeyi Güncelle</a>
		
		</div>
		<div class="card-body">
			<table id="tblMedicines" class="table table-bordered table-striped" style="width:100%">
				<thead>
						<tr>
						<th>Guid</th>
						<th>Barcode</th>
						<th>Name</th>
				
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

@section Scripts{

	<script>

		var DataTable;

		DataTable=$('#tblMedicines').DataTable({


			ajax:'/Medicine/GetAll',
			columns:[
				{data:'id'},
				{data:'barcode'},
				{data:'name'}


			]

		})





	</script>


}

