
<div>
	<div class="card">
		<div class="card-header  text-white bg-success bg-gradient">
			<span class="fs-4">Kullanıcı Listesi</span>
			<a href="#" id="btnEkle" class="btn btn-warning ms-2">Kullanıcı Ekle</a>
		</div>
		<div class="card-body">
			<table id="tblCustomer" class="table table-bordered table-striped" style="width:100%">
				<thead>
				</thead>
			</table>
		</div>
	</div>
</div>


@*----------------------------------------  MODAL ---------------------------------*@

<div class="modal fade" id="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
	 aria-labelledby="modalTitleId" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Müşteri Ekle </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container">
					
					<div class="mb-3">
						<label class="form-label">Ad</label>
						<input id="txtName" class="form-control" />
					</div>
				
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<a href="#" id="btnSave" class="btn btn-primary">Kaydet</a>
			</div>
		</div>
	</div>
</div>

@section Scripts{

	<script>
var DataTable;
$(document).ready(function(){

  DataTable = $('#tblCustomer').DataTable({
    ajax: '/Customer/GetAll',
    columns: [
      { data: 'id', title: "Id" },
      { data: 'name', title: "Name" }
    ]
  });

  $('#btnEkle').click(function() {
    $('#modalTitle').text("Müşteri Ekle");
    $('#btnSave').text("Kaydet").removeClass('btn-success').addClass('btn-primary');
    $('#modal').modal('show');
    $('#btnSave').off();
    $('#btnSave').click(function() {
      let customer = {
        name: $('#txtName').val()
      };
      $.ajax({
        type: "POST",
        url: "/Customer/Create",
        data: customer,
        success: function(res) {
          $("#modal").modal("hide");
          toastr.success("Müşteri Eklendi");
          $("#txtName").val('');
          DataTable.ajax.reload();
        },
        error: function() {
          $("#modal").modal("hide");
          toastr.error("Kullanıcı Eklenemedi!!");
        }
      });
    });
  });
});
</script>


}


