<div>
	<div class="card">
		<div class="card-header  text-white bg-success bg-gradient">
			<span class="fs-4">Müşteri Listesi</span>
			<a href="#" id="btnEkle" class="btn btn-warning ms-2">Müşteri Ekle</a>
		</div>
		<div class="card-body">
			<table id="tblCustomers" class="table table-bordered table-striped" style="width:100%">
				<thead>
				</thead>
			</table>
		</div>
	</div>
</div>
@*----------------------- CUSTOMER MODAL ---------------------------*@
<div class="modal fade" id="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitleId">Müşteri Ekle </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="mb-3">
						<label class="form-label">Müşteri Adı</label>
						<input type="text" id="txtName" class="form-control">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
				<a href="#" id="btnSave" class="btn btn-primary">Ekle</a>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script>
		var DataTable;
		$(document).ready(function () {

			fillDataTable();

			$("#btnEkle").click( function () {
				$('#modal').modal("show");
				$('#txtName').val("");
				$('#btnSave').one("click", function () {
					addCustomer();
				});
			})



		});
		// ---------------------------------------- Müşteri Silme Fonksiyonu BAŞLANGIÇ
		function deleteCustomer(id) {
			Swal.fire({
				title: 'Silmek istediğinize emin misiniz?',
				text: "Müşteri Silinecek",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Sil!'
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						type: 'POST',
						url: '/Customer/Delete',
						data: { id: id },
						success: function () {
							Swal.fire(
								'Başarılı!',
								'Kullanıcı Silindi',
								'success'
							);
							DataTable.ajax.reload();
						},
						error: function () {
							Swal.fire({
								icon: 'error',
								title: 'Müşteri Silme İşlemi Başarısız!',
								text: 'Bir şeyler yanlış gitti!'
							});
						}
					});
				}
			});
		}

		// ------------------------------------ Müşteri  Silme Fonksiyonu BİTİŞ


		function fillDataTable() {
			DataTable = $('#tblCustomers').DataTable({
				ajax: '/Customer/GetAll',
				columns: [
					{ data: 'id', title: "Id", width: '400px' },
					{ data: 'name', title: "Ad" },
					{data:'totalUsers',title:"Kullanıcı Sayısı",render: function(data,type,row){
					
					return `<a href="/User?customerId=${row.id}" class="btn btn-sm btn-success">${data}</a>`
					
					}},
					{
						data: 'id', title: 'İşlemler', render: function (data) {
							return ` <a href="#" onclick="deleteCustomer('${data}')" class="btn btn-sm btn-danger">Sil</a>
														<a href="#" onclick="editCustomer('${data}')" class="btn btn-sm btn-primary">Düzenle</a> `
						}
					}
				]
			});
		}
		function editCustomer(id) {
			$("#modalTitle").text("Müşteri Düzenle");
			$("#btnSave").text("Güncelle").removeClass('btn-primary').addClass('btn-success');
			$.ajax({
				type: 'POST',
				url: '/Customer/GetById',
				data: { id: id },
				success: function (res) {
					$('#txtName').val(res.name);
					$('#btnSave').off();
					$('#btnSave').click(function () {
						$.ajax({
							type: 'POST',
							url: '/Customer/Update',
							data: {
								id: id,
								name: $('#txtName').val()
							},
							success: function () {
								$('#modal').modal('hide');
								toastr.success("Başarıyla güncellendi");
								DataTable.ajax.reload();
							}
						});
					});
					$("#modal").modal("show");
				}
			});
		}


		function addCustomer() {
			$.ajax({
				type: "POST",
				url: "/Customer/Create",
				data: { name: $("#txtName").val() },
				success: function (res) {
					$('#txtName').val("");
					toastr.success("Müşteri Başarıyla Eklendi.");
					$('#modal').modal('hide')
					DataTable.ajax.reload();
				},
				error: function () {
					toastr.error("Müşteri Eklenirken Hata Oluştu!!");
				}
			})
		}

	</script>
	}


